@import "../utils/functions";
@import "../base/base";


main#cartPage {
	width: 70%;
	margin: 2% auto 0;
	// border: 1px solid black;

	.continueOrder {
		margin: 0;
		display: flex;
		align-items: center;
		// border: 1px solid red;

		a:visited {
			color: color(font);
		}

		i {
			margin-right: 10px;
		}
		p {
			margin: 0;
		}
	}

	h1 {
		margin: 5% 0;
	}

}

// Le tableau panier 
table#cart {
	width: 100%;
	border-collapse: collapse;
	
	th {
		background-color: color(footer);
	}

	th, td {
		padding: 10px;
		border: 1px solid color(cartHeaderBorder);
	}

	td:nth-child(2) , td:nth-child(3), td:nth-child(4) {
		text-align: center;
	}

	// Supprimer les petites flèches haut et bas par défaut de l'input number (quantité)

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	 	-webkit-appearance: none;
	 	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}
}


// Total
#totalDiv {
	display: none;
	align-items: center;
	margin: 40px 0;
	position: absolute;
	right: 19vw;
	font-size: 22px;
	// border: 1px dashed blue;

	p:first-child {
		text-transform: uppercase;
		font-weight: 600;
	}

	.total {
		margin: 0 0 0 25px;
		font-size: 18px;
	}
}





// Formulaire de contact
section#form {
	background: color(commandFormBG);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	margin: 15% 0 8%;
	border-radius: 15px;

	.formContainer {
		max-width: 900px;
		width: 100%;
		background: #fff;
		margin: 10% auto;
		padding: 25px 0;
		border-radius: 5px;
		font-family: 'sans-serif';
		color: #555;
		
		// Titre Passer commande
		.title {
			margin: 2% 0 5% 30px;
			font-size: 25px;
			font-weight: 500;
			position: relative;
	
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -6px;
				height: 3px;
				width: 50px;
				background: color(commandFormBG);
			}
		}
	}
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 20px 30px 12px 30px;
	// border: 1px dashed red;

	.input-box {
		width: calc(100% / 2 - 30px);
		margin-bottom: 15px;

		label {
			display: block;
			font-weight: 540;
			margin-bottom: 5px;
		}

		input {
			height: 45px;
			width: calc(100% - 15px);
			outline: none;
			border-radius: 5px;
			border: 1px solid color(borderForm);
			padding-left: 15px;
			font-size: 16px;
			border-bottom-width: 2px;
			transition: all 0.3s ease;
			
			&:valid, &:focus {
				border-color: color(borderFormFocus);
			}

			&:invalid:after {
				content: '';
				border-color: color(outOfStockBG);
			}
		}
	}
}

/* Boutton Commander */
.button {
	height: 45px;
	margin: 45px 30px;
	
	input {
		width: 100%;
		height: 100%;
		outline: none;
		border: none;
		border-radius: 5px;
		color: white;
		background: color(commandFormBG);
		font-size: 18px;
		font-weight: 550;
		letter-spacing: 1px;

		&:hover {
			background: color(commandFormHover);
			cursor: pointer;
		}
	}
}