@import "../utils/functions";
@import "../base/base";


main {
	width: 70%;
	margin: 2% auto 0;
	// border: 1px solid black;

	.continueOrder {
		margin: 0;
		display: flex;
		align-items: center;
		// border: 1px solid red;

		a:visited {
			color: color(font);
		}

		i {
			margin-right: 10px;
		}
		p {
			margin: 0;
		}
	}

	h1 {
		margin: 5% 0;
	}

}


table#cart {
	width: 100%;
	border-collapse: collapse;
	// margin-bottom: 4%;
	
	th {
		background-color: color(cartHeaderBG);
	}

	th, td {
		padding: 10px;
		border: 1px solid color(cartHeaderBorder);
	}

	td:nth-child(2) , td:nth-child(3), td:nth-child(4) {
		text-align: center;
	}
}


h2 {
	margin-top: 20vh;
}