@import "../utils/functions";
@import "../base/base";


/* Div dynamique de confirmation après ajout d'un article dans le panier */
div.confirmAdditionToCart {
	width: 70%;
	margin: 1% auto;
	height: 35px;
	padding: 8px;
	display: none;
	align-items: center;
	background-color: color(confirmAdditionBG);
	border: 1px solid color(confirmAdditionBorder);
	border-radius: 4px;

	@include responsive('smallDesktop') {
		width: 90%;
	}
	@include responsive('phone') {
		width: 100%;
	}

	.fa-check {
		font-size: 15px;
		margin: 0 10px;
		color: color(confirmAdditionFont);
		@include responsive('tablet') {
			font-size: 12px;
		}
	}

	p {
		margin: 0;
		font-style: italic;
		color: color(confirmAdditionFont);
	}
}

/* Div Retour aux résultats */
div.back {
	width: 70%;
	margin: 30px auto 0;
	display: flex;
	align-items: center;
	height: 40px;
	// border: 1px dashed red;

	@include responsive('smallDesktop') {
		width: 90%;
	}
	@include responsive('phone') {
		width: 95%;
		margin: 15px auto 0;
	}

	i {
		margin-right: 10px;
	}
	p {
		margin: 0;
	}
}


main#productpage {
	width: 70%;
	margin: 1% auto 6%;
	min-height: 50vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	// border: 1px solid black;

	@include responsive('smallDesktop') {
		width: 90%;
	}
	@include responsive('phone') {
		display: block;
		width: 95%;
	}
}




/* Partie gauche de la page : image et description du produit */
#imageAndDescription_container {
	width: 50%;
	margin: 0;
	// border: 1px dashed red;

	@include responsive('smallDesktop') {
		width: 60%;
	}
	@include responsive('tablet') {
		width: 50%;
	}
	@include responsive('phone') {
		width: 100%;
	}

	figure {
		width: 85%;
		height: 400px;
		margin: 0 0 3em;
		padding: 0;
		position: relative;
		// border: 1px solid orange;
		@include responsive('tablet') {
			width: 100%;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			// border: 1px dashed blue;
		}

		.heartContainer {
			position: absolute;
			top: 10px;
			right: 20px;
			border: none;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			background-color: white;
			display: none;
			align-items: center;
			justify-content: center;
			@include responsive('phone') {
				right: 15px;
			}

			& .fas.fa-heart {
				max-width: 30px;
				height: auto;
			}

			&:hover {
				color: color(heartBG);
				transform: scale(1.3);
			}
		}
	}

	.description {
		min-height: 200px;
		@include responsive('phone') {
			width: 90%;
			min-height: 150px;
		}

		&__title {
			font-size: 20px;
			font-weight: bold;
			margin-top: 0;
			@include responsive('phone') {
				margin-bottom: 5%;
				font-size: 14px;
			}
		}

		&__text {
			font-size: 18px;
			text-align: justify;
			@include responsive('phone') {
				margin-bottom: 5%;
				font-size: 14px;
			}
		}
	}
}


/* Partie droite de la page: Nom, Prix, Sélection du vernis, Quantité, statut du stock, bouton d'ajout au panier */
#titleAndOptions_container {
	width: 50%;
	height: 400px;
	margin: 0 0 20px 3%;
	// border: 1px dashed green;

	@include responsive('smallDesktop') {
		width: 40%;
		margin: 0 0 20px 0;
	}

	@include responsive('tablet') {
		width: 50%;
		margin: 0 0 0 3%;
	}

	@include responsive('phone') {
		width: 100%;
		margin: 50px auto;
		text-align: center;
	}

	h1.product__name {
		font-size: 24px;
		margin-top: 0;
		@include responsive('tablet') {
			font-size: 20px;
		}
	}

	h2.product__price {
		font-size: 22px;
		@include responsive('tablet') {
			font-size: 18px;
		}
	}
}


/* Selection des options de vernis */
#varnishChoices_container {
	display: flex;
	margin: 35px 0;
	// border: 1px solid violet;

	@include responsive('phone') {
		margin: 35px 25px;
	}
	
	p {
		font-size: 18px;
		margin: 0 40px 0 0;
		@include responsive('tablet') {
			font-size: 16px;
		}
		@include responsive('phone') {
			margin: 0 20px 0 0;
		}
	}

	select {
		color: color(font);
		height: 50%;
		width: 180px;
		margin: auto 0;
		outline: none;
		@include responsive('phone') {
			width: 50%;
		}
	}
}



/* Input de la quantité et boutons +/-  */
.quantity {
	display: flex;
	align-items: center;
	margin: 35px 0;
	// border: 1px solid violet;

	@include responsive('phone') {
		width: 50%;
		margin: 0 25px 35px;
	}

	p {
		font-size: 18px;
		margin: 0 20px 0 0;
		@include responsive('tablet') {
			font-size: 16px;
		}
		@include responsive('phone') {
			margin: 0 20px 0 0;
		}
	}

	// Supprimer les petites flèches haut et bas par défaut de l'input number (quantité)

	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	 	-webkit-appearance: none;
	 	margin: 0;
	}

	/* Firefox */
	input[type=number] {
	  -moz-appearance: textfield;
	}
}



/* Statut des stocks */
.stockStatus {
	margin: 35px 0;

	&__container {
		display: flex;
		align-items: center;
		@include responsive('phone') {
			width: 50%;
			margin: 0 25px 35px;
		}

		.roundIndicator {
			width: 12px;
			height: 12px;
			margin: 0 10px 0 0;
			border-radius: 50%;
		}
		.green {
			background-color: color(inStockBG);
		}
		.red {
			background-color: color(outOfStockBG);
		}
		p {
			margin: 0;
		}
	}

	& .outOfStock {
		display: none;
	}
}