@import "../utils/functions";

footer {
	height: 5vh;
	width: 100%;
	background-color: color(footer);
	position: fixed;
	bottom: 0;
	// border: 1px solid red;

	ul {
		list-style-type: none;
		padding: 0;
		width: 70%;
		margin: 0 auto;
		height: 100%;
		display: flex;
		justify-content: start;
		align-items: center;
		// border: 1px solid blue;

		@include responsive('tablet') {
			width: 100%;
		}

		li {
			margin: auto 1%;
			@include responsive('tablet') {
				width: 33%;
			}

			a {
				text-decoration: underline;
			}
		}
	}
}