@charset "UTF-8";
/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

header {
  height: 12vh;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  header {
    width: 85%;
  }
}
@media (max-width: 584px) {
  header {
    width: 100%;
  }
}
header figcaption {
  width: 15%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 2000px) {
  header figcaption {
    width: 25%;
  }
}
@media (max-width: 800px) {
  header figcaption {
    height: 100%;
    width: 20%;
  }
}
@media (max-width: 584px) {
  header figcaption {
    width: 35%;
  }
}
header figcaption a img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 800px) {
  header figcaption a img {
    height: 100%;
  }
}
header .searchContainer {
  width: 400px;
  height: 35px;
  margin: 0;
  padding: 0 0 0 1%;
  display: flex;
  align-items: center;
  background-color: #EBEAED;
}
@media (max-width: 2000px) {
  header .searchContainer {
    width: 300px;
  }
}
@media (max-width: 800px) {
  header .searchContainer {
    width: 240px;
  }
}
@media (max-width: 584px) {
  header .searchContainer {
    display: none;
  }
}
header .searchContainer input {
  font-size: 18px;
  width: 90%;
  margin: 0;
  background-color: #EBEAED;
  border: none;
  color: #696474;
  outline: none;
}
@media (max-width: 1024px) {
  header .searchContainer input {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  header .searchContainer input {
    font-size: 14px;
  }
}
@media (max-width: 584px) {
  header .searchContainer input {
    font-size: 12px;
  }
}
header .searchContainer .searchIconContainer {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: right;
  align-items: center;
}
header .searchContainer .searchIconContainer .fa-search {
  font-size: 20px;
}
@media (max-width: 1024px) {
  header .searchContainer .searchIconContainer .fa-search {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  header .searchContainer .searchIconContainer .fa-search {
    font-size: 14px;
  }
}
@media (max-width: 584px) {
  header .searchContainer .searchIconContainer .fa-search {
    font-size: 12px;
  }
}
header nav {
  width: 25%;
  height: 35px;
  margin: 0;
  display: flex;
  align-content: center;
}
@media (max-width: 2000px) {
  header nav {
    width: 25%;
  }
}
@media (max-width: 800px) {
  header nav {
    width: 30%;
  }
}
@media (max-width: 584px) {
  header nav {
    width: 55%;
  }
}
header nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
header nav ul li {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 18px;
}
@media (max-width: 1024px) {
  header nav ul li {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  header nav ul li {
    font-size: 14px;
  }
}
@media (max-width: 584px) {
  header nav ul li {
    width: 33%;
  }
}
header nav ul li a {
  width: 100%;
}

footer {
  height: 5vh;
  width: 100%;
  background-color: #ECE4F4;
  position: fixed;
  bottom: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 800px) {
  footer ul {
    width: 100%;
  }
}
footer ul li {
  margin: auto 1%;
}
@media (max-width: 800px) {
  footer ul li {
    width: 33%;
  }
}
footer ul li a {
  text-decoration: underline;
}

/* Media Queries */
/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

/* Le faux Carousel - Accueil */
div#primaryCarouselContainer {
  height: 35vh;
}
div#primaryCarouselContainer #carouselContainer {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1024px) {
  div#primaryCarouselContainer #carouselContainer {
    width: 85%;
  }
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer {
    width: 100%;
  }
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer {
  position: absolute;
  z-index: 3;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer {
    height: 95%;
    margin: auto 5%;
  }
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer h1 {
  max-width: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  letter-spacing: 0.15em;
  margin: 0;
  line-height: 260%;
}
@media (max-width: 2000px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer h1 {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer h1 {
    font-size: 26px;
  }
}
@media (max-width: 800px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer h1 {
    font-size: 22px;
  }
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .titlesContainer h1 {
    font-size: 18px;
    font-weight: 800;
  }
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer {
  background-color: #23170C;
  width: 20px;
  height: 20px;
  margin: 0 1%;
  border-radius: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 2000px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer {
    width: 30px;
    height: 30px;
  }
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer .fas {
  color: white;
  font-size: 22px;
}
@media (max-width: 1024px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer .fas {
    font-size: 18px;
  }
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer .fas {
    font-size: 14px;
  }
}
div#primaryCarouselContainer #carouselContainer .chevronsContainer .circleContainer:hover {
  cursor: pointer;
}
div#primaryCarouselContainer #carouselContainer figure#carouselPics {
  z-index: -3;
  margin: 0;
  position: relative;
  max-height: 100%;
  display: flex;
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer figure#carouselPics {
    width: 100%;
    height: 100%;
  }
}
div#primaryCarouselContainer #carouselContainer figure#carouselPics img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 584px) {
  div#primaryCarouselContainer #carouselContainer figure#carouselPics img {
    width: 100%;
    height: 100%;
  }
}

/* Contenu principal - Les Produits */
main#homepage {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1024px) {
  main#homepage {
    width: 85%;
  }
}
@media (max-width: 584px) {
  main#homepage {
    width: 100%;
  }
}
main#homepage h2 {
  width: 50vh;
}
@media (max-width: 2000px) {
  main#homepage h2 {
    width: 40vh;
  }
}
@media (max-width: 1024px) {
  main#homepage h2 {
    font-size: 24px;
  }
}
@media (max-width: 584px) {
  main#homepage h2 {
    width: 20vh;
    font-size: 20px;
    margin: 4% 8%;
  }
}
@media (max-width: 1024px) {
  main#homepage h3 {
    font-size: 18px;
  }
}
@media (max-width: 584px) {
  main#homepage h3 {
    font-size: 16px;
    margin: 4% 8%;
  }
}
main#homepage #productsGeneralContainer {
  width: 100%;
  margin: 5% auto 6%;
  min-height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 2000px) {
  main#homepage #productsGeneralContainer {
    margin: 5% auto 10%;
  }
}
@media (max-width: 584px) {
  main#homepage #productsGeneralContainer {
    margin: 0 auto 15%;
  }
}
main#homepage #productsGeneralContainer .productContainer {
  width: 250px;
  height: 325px;
  margin: 0 2%;
  border-radius: 15%;
  box-shadow: 0 1px 5px black;
}
main#homepage #productsGeneralContainer .productContainer:not(:last-child) {
  margin-bottom: 4%;
}
@media (max-width: 584px) {
  main#homepage #productsGeneralContainer .productContainer:not(:last-child) {
    margin: 0 auto 15%;
  }
}
@media (max-width: 1024px) {
  main#homepage #productsGeneralContainer .productContainer {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 584px) {
  main#homepage #productsGeneralContainer .productContainer {
    margin: 0 auto 15%;
  }
}
main#homepage #productsGeneralContainer .productContainer a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
main#homepage #productsGeneralContainer .productContainer a:hover::after {
  content: "Voir le produit";
  text-decoration: none;
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 18px;
  z-index: 3;
  padding: 5%;
  color: white;
  background-color: black;
}
main#homepage #productsGeneralContainer .productContainer a figure {
  border-radius: 15% 15% 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
}
main#homepage #productsGeneralContainer .productContainer a figure img {
  border-radius: 15% 15% 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main#homepage #productsGeneralContainer .productContainer a .home__description {
  margin: 0;
  color: #333333;
  height: 30%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 0 0 15% 15%;
}
@media (max-width: 1024px) {
  main#homepage #productsGeneralContainer .productContainer a .home__description {
    font-size: 17px;
  }
}
main#homepage #productsGeneralContainer .productContainer a .home__description #home__name {
  margin: 20px 0 0 0;
}
@media (max-width: 1024px) {
  main#homepage #productsGeneralContainer .productContainer a .home__description #home__name {
    margin-top: 10px;
  }
}
main#homepage #productsGeneralContainer .productContainer a .home__description #home__price {
  font-weight: bold;
  margin: 10px 0 0 0;
}
@media (max-width: 1024px) {
  main#homepage #productsGeneralContainer .productContainer a .home__description #home__price {
    margin-top: 5px;
  }
}

/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

/* Div dynamique de confirmation après ajout d'un article dans le panier */
div.confirmAdditionToCart {
  width: 70%;
  margin: 0.5% auto 0;
  height: 35px;
  padding: 8px;
  display: none;
  align-items: center;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
@media (max-width: 2000px) {
  div.confirmAdditionToCart {
    width: 80%;
  }
}
@media (max-width: 800px) {
  div.confirmAdditionToCart {
    width: 90%;
  }
}
div.confirmAdditionToCart .fa-check {
  font-size: 15px;
  margin: 0 10px;
  color: #3c763d;
}
@media (max-width: 800px) {
  div.confirmAdditionToCart .fa-check {
    font-size: 12px;
  }
}
div.confirmAdditionToCart p {
  margin: 0;
  font-style: italic;
  color: #3c763d;
}

/* Div Retour aux résultats */
div.back {
  width: 70%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  height: 40px;
}
@media (max-width: 2000px) {
  div.back {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  div.back {
    width: 90%;
  }
}
div.back i {
  margin-right: 10px;
}
div.back p {
  margin: 0;
}

main#productpage {
  width: 70%;
  margin: 1% auto 6%;
  min-height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 2000px) {
  main#productpage {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  main#productpage {
    width: 90%;
  }
}
@media (max-width: 584px) {
  main#productpage {
    display: block;
    width: 95%;
  }
}

/* Partie gauche de la page : image et description du produit */
#imageAndDescription_container {
  width: 50%;
  margin: 0;
}
@media (max-width: 1024px) {
  #imageAndDescription_container {
    width: 60%;
  }
}
@media (max-width: 800px) {
  #imageAndDescription_container {
    width: 50%;
  }
}
@media (max-width: 584px) {
  #imageAndDescription_container {
    width: 100%;
  }
}
#imageAndDescription_container figure {
  width: 85%;
  height: 400px;
  margin: 0 0 3em;
  padding: 0;
  position: relative;
}
@media (max-width: 800px) {
  #imageAndDescription_container figure {
    width: 100%;
  }
}
#imageAndDescription_container figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#imageAndDescription_container figure .heartContainer {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  display: none;
  align-items: center;
  justify-content: center;
}
@media (max-width: 584px) {
  #imageAndDescription_container figure .heartContainer {
    right: 15px;
  }
}
#imageAndDescription_container figure .heartContainer .fas.fa-heart {
  max-width: 30px;
  height: auto;
}
#imageAndDescription_container figure .heartContainer:hover {
  color: #c186c8;
  transform: scale(1.3);
}
#imageAndDescription_container .description {
  min-height: 200px;
}
@media (max-width: 584px) {
  #imageAndDescription_container .description {
    width: 90%;
    min-height: 150px;
  }
}
#imageAndDescription_container .description__title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}
@media (max-width: 584px) {
  #imageAndDescription_container .description__title {
    margin-bottom: 5%;
    font-size: 14px;
  }
}
#imageAndDescription_container .description__text {
  font-size: 18px;
  text-align: justify;
}
@media (max-width: 584px) {
  #imageAndDescription_container .description__text {
    margin-bottom: 5%;
    font-size: 14px;
  }
}

/* Partie droite de la page: Nom, Prix, Sélection du vernis, Quantité, statut du stock, bouton d'ajout au panier */
#titleAndOptions_container {
  width: 50%;
  height: 400px;
  margin: 0 0 20px 3%;
}
@media (max-width: 1024px) {
  #titleAndOptions_container {
    width: 40%;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 800px) {
  #titleAndOptions_container {
    width: 50%;
    margin: 0 0 0 3%;
  }
}
@media (max-width: 584px) {
  #titleAndOptions_container {
    width: 100%;
    margin: 50px auto;
    text-align: center;
  }
}
#titleAndOptions_container h1.product__name {
  font-size: 24px;
  margin-top: 0;
}
@media (max-width: 800px) {
  #titleAndOptions_container h1.product__name {
    font-size: 20px;
  }
}
#titleAndOptions_container h2.product__price {
  font-size: 22px;
}
@media (max-width: 800px) {
  #titleAndOptions_container h2.product__price {
    font-size: 18px;
  }
}

/* Selection des options de vernis */
#varnishChoices_container {
  display: flex;
  margin: 35px 0;
}
@media (max-width: 584px) {
  #varnishChoices_container {
    margin: 35px 25px;
  }
}
#varnishChoices_container p {
  font-size: 18px;
  margin: 0 40px 0 0;
}
@media (max-width: 800px) {
  #varnishChoices_container p {
    font-size: 16px;
  }
}
@media (max-width: 584px) {
  #varnishChoices_container p {
    margin: 0 20px 0 0;
  }
}
#varnishChoices_container select {
  color: #333333;
  height: 50%;
  width: 180px;
  margin: auto 0;
  outline: none;
}
@media (max-width: 584px) {
  #varnishChoices_container select {
    width: 50%;
  }
}

/* Input de la quantité et boutons +/-  */
.quantity {
  display: flex;
  align-items: center;
  margin: 35px 0;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
@media (max-width: 584px) {
  .quantity {
    width: 50%;
    margin: 0 25px 35px;
  }
}
.quantity p {
  font-size: 18px;
  margin: 0 20px 0 0;
}
@media (max-width: 800px) {
  .quantity p {
    font-size: 16px;
  }
}
@media (max-width: 584px) {
  .quantity p {
    margin: 0 20px 0 0;
  }
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity input[type=number] {
  -moz-appearance: textfield;
}

/* Statut des stocks */
.stockStatus {
  margin: 35px 0;
}
.stockStatus__container {
  display: flex;
  align-items: center;
}
@media (max-width: 584px) {
  .stockStatus__container {
    width: 50%;
    margin: 0 25px 35px;
  }
}
.stockStatus__container .roundIndicator {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 0;
  border-radius: 50%;
}
.stockStatus__container .green {
  background-color: #00a900;
}
.stockStatus__container .red {
  background-color: red;
}
.stockStatus__container p {
  margin: 0;
}
.stockStatus .outOfStock {
  display: none;
}

/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

main#cartPage {
  width: 70%;
  margin: 2% auto 0;
}
@media (max-width: 2000px) {
  main#cartPage {
    width: 75%;
    margin: 5% auto 0;
  }
}
@media (max-width: 800px) {
  main#cartPage {
    width: 85%;
  }
}
@media (max-width: 584px) {
  main#cartPage {
    width: 95%;
    margin: 2% auto;
  }
}
main#cartPage .continueOrder {
  margin: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 584px) {
  main#cartPage .continueOrder {
    width: 90%;
    margin: 0 auto;
  }
}
main#cartPage .continueOrder a:visited {
  color: #333333;
}
main#cartPage .continueOrder i {
  margin-right: 10px;
}
@media (max-width: 2000px) {
  main#cartPage .continueOrder i {
    margin-right: 20px;
  }
}
main#cartPage .continueOrder p {
  margin: 0;
}
main#cartPage h1 {
  margin: 3% 0;
}
@media (max-width: 584px) {
  main#cartPage h1 {
    font-size: 28px;
    width: 90%;
    margin: 5% auto;
  }
}

table#cart {
  width: 100%;
  border-collapse: collapse;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
@media (max-width: 584px) {
  table#cart {
    width: 90%;
    margin: 0 auto;
  }
}
table#cart th {
  background-color: #ECE4F4;
}
table#cart th, table#cart td {
  padding: 10px;
  border: 1px solid #b3b3b3;
}
@media (max-width: 584px) {
  table#cart th, table#cart td {
    padding: 5px;
    font-size: 12px;
  }
}
table#cart td:nth-child(2), table#cart td:nth-child(3), table#cart td:nth-child(4) {
  text-align: center;
}
table#cart input::-webkit-outer-spin-button,
table#cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table#cart input[type=number] {
  -moz-appearance: textfield;
}

#totalDiv {
  display: none;
  align-items: center;
  margin: 40px 0;
  position: absolute;
  right: 19vw;
  font-size: 22px;
}
@media (max-width: 2000px) {
  #totalDiv {
    right: 15vw;
  }
}
@media (max-width: 1024px) {
  #totalDiv {
    margin: 20px 0;
  }
}
@media (max-width: 800px) {
  #totalDiv {
    font-size: 16px;
    margin: 10px 0 20px;
  }
}
@media (max-width: 584px) {
  #totalDiv {
    right: 10vw;
  }
}
#totalDiv p:first-child {
  text-transform: uppercase;
  font-weight: 600;
}
#totalDiv .total {
  margin: 0 0 0 25px;
  font-size: 18px;
}
@media (max-width: 584px) {
  #totalDiv .total {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
}

section#form {
  background: linear-gradient(125deg, #D08512, #9b59b6);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 15% 0 8%;
  border-radius: 15px;
}
@media (max-width: 2000px) {
  section#form {
    width: 90%;
    margin: 13% auto 10%;
  }
}
@media (max-width: 584px) {
  section#form {
    height: 120vh;
    width: 98%;
    margin: 15% auto;
  }
}
section#form .formContainer {
  max-width: 900px;
  width: 100%;
  background: #fff;
  margin: 10% auto;
  padding: 25px 0;
  border-radius: 5px;
  font-family: "sans-serif";
  color: #555;
}
@media (max-width: 2000px) {
  section#form .formContainer {
    max-width: 80%;
    max-height: 85%;
    padding: 20px 0;
  }
}
@media (max-width: 800px) {
  section#form .formContainer {
    max-width: 85%;
    max-height: 80%;
  }
}
@media (max-width: 584px) {
  section#form .formContainer {
    max-width: 95%;
    max-height: 75%;
  }
}
section#form .formContainer .title {
  margin: 2% 0 5% 30px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
@media (max-width: 584px) {
  section#form .formContainer .title {
    font-size: 20px;
    margin: 2% 0 5% 15px;
  }
}
section#form .formContainer .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 50px;
  background: linear-gradient(125deg, #D08512, #9b59b6);
}
@media (max-width: 584px) {
  section#form .formContainer .title:before {
    width: 35px;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px 12px 30px;
}
@media (max-width: 2000px) {
  form {
    max-height: 480px;
    margin: 20px 30px 10px 30px;
  }
}
@media (max-width: 584px) {
  form {
    max-height: 370px;
    overflow-y: scroll;
    margin: 40px auto 20px;
    width: 95%;
    justify-content: center;
  }
  form::-webkit-scrollbar {
    width: 0;
  }
}
form .input-box {
  width: calc(100% / 2 - 30px);
  margin-bottom: 15px;
}
@media (max-width: 2000px) {
  form .input-box {
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  form .input-box {
    width: 45%;
    font-size: 14px;
  }
}
@media (max-width: 584px) {
  form .input-box {
    width: 95%;
    margin: 0 auto 15px;
  }
}
form .input-box label {
  display: block;
  font-weight: 540;
  margin-bottom: 5px;
}
form .input-box input {
  height: 45px;
  width: calc(100% - 15px);
  outline: none;
  border-radius: 5px;
  border: 1px solid #9b59b6;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  form .input-box input {
    font-size: 14px;
  }
}
@media (max-width: 584px) {
  form .input-box input {
    width: 95%;
  }
}
form .input-box input:focus, form .input-box input:valid {
  border-color: #9b59b6;
  background-color: none;
}

/***** Classe qui permet de passer le champ en rouge ***/
.redStyle {
  background-color: #b20a37;
  border: 1px solid #b20a37;
  color: white;
}

/* Boutton Commander */
.button {
  width: 100%;
  height: 45px;
  margin: 45px 30px;
}
@media (max-width: 2000px) {
  .button {
    width: 80%;
    height: 55px;
    margin: 25px 20%;
  }
}
@media (max-width: 800px) {
  .button {
    width: 90%;
    margin: 45px 10%;
  }
}
@media (max-width: 584px) {
  .button {
    width: 100%;
    margin: 20px 0 0;
  }
}
.button input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(125deg, #D08512, #9b59b6);
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}
@media (max-width: 584px) {
  .button input {
    font-size: 15px;
  }
}
.button input:hover, .button input:focus {
  background: linear-gradient(-125deg, #D08512, #9b59b6);
  cursor: pointer;
}

/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

main#confirmedOrderPage {
  width: 70%;
  margin: 2% auto 0;
}
@media (max-width: 800px) {
  main#confirmedOrderPage {
    width: 85%;
    margin: 5% auto;
  }
}
@media (max-width: 584px) {
  main#confirmedOrderPage {
    width: 95%;
    max-height: 500px;
  }
}
main#confirmedOrderPage .confirmedOrder_container {
  margin: 5% 0 8%;
}
@media (max-width: 800px) {
  main#confirmedOrderPage .confirmedOrder_container {
    margin-top: 80px;
  }
}
main#confirmedOrderPage .confirmedOrder_container span {
  font-weight: bold;
}
main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_header {
  width: 100%;
  height: 6vh;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_header .fa-check {
  font-size: 22px;
  margin: 0 18px;
  color: #3c763d;
}
@media (max-width: 584px) {
  main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_header .fa-check {
    font-size: 16px;
  }
}
main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_header h1 {
  font-size: 24px;
  margin: 0;
  color: #3c763d;
}
@media (max-width: 584px) {
  main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_header h1 {
    font-size: 16px;
  }
}
main#confirmedOrderPage .confirmedOrder_container h2 {
  font-size: 18px;
  margin-bottom: 3%;
}
@media (max-width: 584px) {
  main#confirmedOrderPage .confirmedOrder_container h2 {
    font-size: 15px;
  }
}
main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_sentences {
  display: flex;
  align-items: center;
}
main#confirmedOrderPage .confirmedOrder_container .confirmedOrder_sentences p {
  margin: 0;
}

/* Div de controle des quantités, input et bouton + et - */
.quantity__control {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 584px) {
  .quantity__control {
    width: 80%;
    margin: auto;
    font-size: 12px;
  }
}
.quantity__control div {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: white;
  width: 30px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}
@media (max-width: 584px) {
  .quantity__control div {
    height: 25px;
  }
}
.quantity__control .greyBG {
  background-color: #b6b6b6;
}
.quantity__control input {
  height: 35px;
  text-align: center;
  width: 40px;
  border: 1px solid #b6b6b6;
}
@media (max-width: 584px) {
  .quantity__control input {
    width: 30px;
    height: 25px;
  }
}
.quantity__control .less::after {
  content: "-";
}
.quantity__control .more::after {
  content: "+";
}

.deleteDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
@media (max-width: 584px) {
  .deleteDiv {
    margin: 10px 0;
  }
}
.deleteDiv .deleteText {
  margin: 0;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 584px) {
  .deleteDiv .deleteText {
    font-size: 12px;
  }
}
.deleteDiv .trashIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
@media (max-width: 584px) {
  .deleteDiv .trashIcon {
    width: 12px;
    height: 12px;
  }
}

/* Media Queries */
@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf);
}
body {
  margin: 0;
  font-size: 16px;
  font-family: "roboto";
  color: #333333;
}
@media (max-width: 584px) {
  body {
    font-size: 14px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:visited {
  color: #333333;
}

/* Bouton Ajouter au Panier - Page produit */
.buttonContainer {
  width: 350px;
  height: 50px;
  margin: 50px 0 0 0;
  border-radius: 3px;
}
@media (max-width: 1024px) {
  .buttonContainer {
    width: 300px;
  }
}
@media (max-width: 800px) {
  .buttonContainer {
    width: 250px;
  }
}
@media (max-width: 584px) {
  .buttonContainer {
    width: 200px;
    margin: 50px auto;
  }
}
.buttonContainer button, .buttonContainer input {
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(125deg, #D08512, #9b59b6);
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  color: white;
  border: none;
}
@media (max-width: 584px) {
  .buttonContainer button, .buttonContainer input {
    font-size: 18px;
  }
}
.buttonContainer button:hover, .buttonContainer input:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 12px black;
}

/*# sourceMappingURL=style.css.map */
