/* Div de controle des quantités, input et bouton + et - */

.quantity__control {
	display: flex;
	justify-content: space-around;
	align-items: center;
	// border: 1px solid black;
	
	@include responsive('phone') {
		width: 80%;
		margin: auto;
		font-size: 12px;
	}

	div {
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		color: white;
		width: 30px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 8px;
		@include responsive('phone') {
			height: 25px;
		}
	}

	.greyBG {
		background-color: color(quantityBG);
	}

	input {
		height: 35px;
		text-align: center;
		width: 40px;
		border: 1px solid color(quantityBG);
		@include responsive('phone') {
			width: 30px;
			height: 25px;
		}
	}

	.less::after {
		content: "-";
	}

	.more::after {
		content: "+";
	}
}

.deleteDiv {
	display : flex;
	justify-content : center;
	align-items : center;
	margin : 15px 0;
	@include responsive('phone') {
		margin: 10px 0;
	}
	
	.deleteText {
		margin : 0;
		font-size : 14px;
		text-decoration : underline;
		cursor : pointer;
		@include responsive('phone') {
			font-size: 12px;
		}
	}

	.trashIcon {
		width : 15px;
		height : 15px;
		margin-right : 5px;
		@include responsive('phone') {
			width: 12px;
			height: 12px;
		}
	}

}